<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/logo.png" />

	<title>Phone Market Argentina - Agregar Producto</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<!-- Header -->
<% if (locals.user) { %>
  <%- include("./partials/headerLogeado") %>
<% } else { %>
  <%- include("./partials/header") %>
<% } %>
	<!-- /Header -->

	<!-- Contenido -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>

			<div class="col-12 col-md-6 offset-md-3">
				<form action="/products/processAdd" method="POST" class="add-product-form">
					<div class="form-group">
						<label for="imagen">Imagen:</label>
						<input type="text" placeholder = 'Insertar ruta de img de public' name="imagen" id="imagen" class="form-control" accept="image/*">
					</div>

					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" name="nombre" id="nombre" class="form-control" required>
					</div>

					<div class="form-group">
						<label for="descripcion">Descripción:</label>
						<textarea name="descripcion" id="descripcion" class="form-control" required></textarea>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Cargar producto</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- footer -->

	<%- include("./partials/footer") %>

	<!-- /footer -->
</body>
</html>
